APP_ENV=development
APP_PORT=8080

DB_DSN=user:password@tcp(localhost:3306)/radioai?charset=utf8mb4&parseTime=True&loc=Local

JWT_ACCESS_SECRET=superlong_random_access_secret
JWT_REFRESH_SECRET=superlong_random_refresh_secret

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=720h # 30 days
